# Lisskins
LISKINS_API_KEY = API KEY

# Database
DATABASE_URL=postgresql://admin:qwerty@localhost:5432/postgres

# PostgreSQL Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=qwerty
POSTGRES_DB=postgres

# APP 
TITLE=LMS_backend
VERSION=1.0.0

# Server
HOST=0.0.0.0
PORT=8000
